/* Main Css */
div#container {
  width: 100vh;
}

div.views {
  display: block;
  height: 100vh;
  background:#fff;
}

div#footer {
  height: fit-content
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  background: rgba(0,0,0,0.8);
}

div#datetime {
  font-family: 'Audiowide', cursive;
  color: #fff/*rgba(0,0,0,0.6)*/;
  font-size: 13px;
  font-weight: 100;
}

ld {
  height: fit-content;
  color:#fff;
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
}

headerbg {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: orangered;
}

hd {
  display: block;
  color:orangered;
  height: 10vh;
  padding: 20px 20px 0 20px;
  font-size: 40px;
}

p {
  margin: 0;
  font-size: 30px;
  padding: 20px 20px 0 20px; 
}

footer {
  display: flex;
  align-items: center;
  height: 10vh;
  background: rgba(0,0,0,0.8);
  padding-left: 20px;
  color: #fff;
}