/* Main Css */
div#container {
  width: 100vh;
}

div.views {
  display: block;
  height: 100vh;
  background:#fff;
}

div#footer {
  height: fit-content
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #339966;
  background: rgba(0,0,0,0.8);
}

div#datetime {
  font-family: 'Audiowide', cursive;
  color: #fff/*rgba(0,0,0,0.6)*/;
  font-size: 13px;
  font-weight: 100;
}

ld {
  height: fit-content;
  color:#339966;
  font-size: 100px;
  font-family: 'Audiowide', sans-serif;
}

headerbg {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(ashreilla.png);
  background-size: cover;
}

subheader {
  font-size: 25px;
}

hd {
  display: block;
  color:#339966;
  height: 10vh;
  padding: 20px 20px 0 20px;
  font-size: 40px;
  font-family: 'Audiowide', sans-serif;
}

p {
  display: flex;
  margin: 0;
  font-size: 30px;
  height: 80vh;

  padding: 50px 50px 0 50px; 
  justify-content:center;
}

p#img {
  padding:10px;
}

footer {
  display: flex;
  align-items: center;
  height: 10vh;
  background: rgba(0,0,0,0.8);
  padding-left: 20px;
  color: #fff;
}